<form id="module-profiles-manage-profiles-form">
	<!------------------------------ Header ------------------------------>
	<h2 class="module-profiles-header">Manage Module Profiles</h2>
	<hr>
	<!------------------------------ Content ------------------------------>
	<div class="flexrow right-aligned">
		<button>
			<i class="fa fa-file-import"></i> Import Profile(s)
		</button>
		<button>
			<i class="fa fa-file-export"></i> Export All Profiles
		</button>
	</div>
	<table id="module-profiles-list">
		<thead>
		<tr class="flexrow">
			<td class="profile-name-column">Profile Name</td>
			<td class="icon-column">Activate</td>
			<td class="icon-column">Edit</td>
			<td class="icon-column">Duplicate</td>
			<td class="icon-column">Export</td>
			<td class="icon-column">Delete</td>
		</tr>
		</thead>
		<tbody>
		{{#each profiles}}
			<tr class="flexrow"> <!-- TODO - highlight active profile -->
				<td class="profile-name-column">{{name}}</td>
				<td class="icon-column"><a class="fa fa-power-off module-profiles-activate-profile" data-profile-name="{{name}}"></a></td>
				<td class="icon-column"><a class="fa fa-edit module-profiles-edit-profile" data-profile-name="{{name}}"></a></td>
				<td class="icon-column"><a class="fa fa-copy module-profiles-copy-profile" data-profile-name="{{name}}"></a></td>
				<td class="icon-column"><a class="fa fa-file-export module-profiles-export-profile" data-profile-name="{{name}}"></a></td>
				<td class="icon-column"><a class="fa fa-trash module-profiles-delete-profile" data-profile-name="{{name}}"></a></td>
			</tr>
		{{/each}}
		</tbody>
	</table>
	<div class="flexrow right-aligned">
		<a id=module-profiles-manage-profiles-create-new><i class="fa fa-plus"></i> <b>Create New</b></a>
	</div>
</form>