<form id="module-profiles-confirm-delete-profile-form">
	<!------------------------------ Content ------------------------------>
	<h3 class="module-profiles-header">{{localize 'CONFIRMATION.delete.areYouSure'}} <b>{{profileNameToDelete}}</b>?
		{{localize 'CONFIRMATION.delete.cannotUndo'}}
	</h3>
	<!------------------------------ Footer ------------------------------>
	<hr>
	<div class="flexrow">
		<button type="submit" name="submit" id="moduleProfilesDeleteProfileSubmit">
			<i class="fa fa-check"></i> {{localize 'CONFIRMATION.delete.submit'}}
		</button>
		<button type="submit" name="moduleProfilesCancel" id="moduleProfilesCancel">
			<i class="fa fa-ban"></i> {{localize 'FORM_APPLICATION.button.cancel'}}
		</button>
	</div>
</form>