<form id="module-profiles-confirm-activate-profile-form">
	<!------------------------------ Content ------------------------------>
	<h3 class="module-profiles-header">{{localize 'MODULE_PROFILES.CONFIRMATION.activate.areYouSure'}} <b>{{profileNameToActivate}}</b>?
		{{localize 'MODULE_PROFILES.CONFIRMATION.activate.doingSoWillDiscard'}} <b>{{activeProfileName}}</b>.
	</h3>
	<!------------------------------ Footer ------------------------------>
	<hr>
	<div class="flexrow">
		<button type="submit" name="submit" id="moduleProfilesActivateProfileSubmit">
			<i class="fa fa-check"></i> {{localize 'MODULE_PROFILES.CONFIRMATION.activate.submit'}}
		</button>
		<button type="submit" name="moduleProfilesCancel" id="moduleProfilesCancel">
			<i class="fa fa-ban"></i> {{localize 'MODULE_PROFILES.FORM_APPLICATION.button.cancel'}}
		</button>
	</div>
</form>