<form id="module-profiles-manage-profiles-form">
	<!------------------------------ Header ------------------------------>
	<h2 class="module-profiles-header">Manage Module Profiles</h2>
	<hr>
	<!------------------------------ Content ------------------------------>
	<div class="flexrow right-aligned">
		<button id="module-profiles-manage-profiles-import">
			<i class="fa fa-file-import"></i> {{localize 'FORM_APPLICATION.import.importProfiles'}}
		</button>
		<button id="module-profiles-manage-profiles-export-all">
			<i class="fa fa-file-export"></i> {{localize 'FORM_APPLICATION.export.exportAll'}}
		</button>
	</div>
	<table id="module-profiles-list">
		<thead>
		<tr class="flexrow">
			<td class="profile-name-column">{{localize 'FORM_APPLICATION.header.profileName'}}</td>
			<td class="icon-column">{{localize 'FORM_APPLICATION.manageProfiles.activate'}}</td>
			<td class="icon-column">{{localize 'FORM_APPLICATION.manageProfiles.edit'}}</td>
			<td class="icon-column">{{localize 'FORM_APPLICATION.manageProfiles.duplicate'}}</td>
			<td class="icon-column">{{localize 'FORM_APPLICATION.manageProfiles.export'}}</td>
			<td class="icon-column">{{localize 'FORM_APPLICATION.manageProfiles.delete'}}</td>
		</tr>
		</thead>
		<tbody>
		{{#each profiles}}
            <tr class="flexrow" title="{{description}}" {{#if isProfileActive}}style="background-color: lightgreen"{{/if}}>
			<td class="profile-name-column">{{#if description}}<span class="fa fa-circle-info" title="{{description}}" style="margin-right: 2px"></span>{{/if}}{{name}}</td>
				<td class="icon-column"><a class="fa fa-power-off module-profiles-activate-profile" data-profile-name="{{name}}"></a></td>
				<td class="icon-column"><a class="fa fa-edit module-profiles-edit-profile" data-profile-name="{{name}}"></a></td>
				<td class="icon-column"><a class="fa fa-copy module-profiles-duplicate-profile" data-profile-name="{{name}}"></a></td>
				<td class="icon-column"><a class="fa fa-file-export module-profiles-export-profile" data-profile-name="{{name}}"></a></td>
				<td class="icon-column"><a class="fa fa-trash module-profiles-delete-profile" data-profile-name="{{name}}"></a></td>
			</tr>
		{{/each}}
		</tbody>
	</table>
	<div class="flexrow right-aligned">
		<a id=module-profiles-manage-profiles-create-new><i class="fa fa-plus"></i> <b>{{localize 'FORM_APPLICATION.create.createNew'}}</b></a>
	</div>
</form>
